# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
*.log

# Frontend Stuff
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
src/_drafts